.header{
  height: 54px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-section{
  background-color: lightgreen;
  width: 140px;
}

.middle-section{
  background-color: lightseagreen;
  flex: 1;
  margin-left: 70px;
  margin-right: 36px;
  max-width: 500px;
}

.right-section{
  background-color: lightgreen;
  width: 200px;
}

.hamburger-menu{
  height: 24px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.youtube-logo{
  height: 20px;
}